name: Deploy to k3s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@79.76.100.73 << 'EOF'
            cd ./k8s-configs/rust-server/my-website
            git pull origin main
            cd blog && ~/.local/share/fnm/fnm exec --using=20 npm ci && ~/.local/share/fnm/fnm exec --using=20 npm run build && cd ..
            cd ./k8s-configs/rust-server
            ./deploy.sh
          EOF
